.bio{
  color:black;
}
.extrapad{
  padding-top: 20px;
}
.iconspad{
  padding-left:12%;
  padding-right: 13%;
}
.list-inlinebio {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inlinebio > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/*
SOCIAL ICON
-------------------------------------------*/
.social-iconsbio {
    margin-top: 20px;
}
.social-iconsbio a i{
    position: relative;
    color: black;
    font-size: 18px;
    margin: 0 7px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.social-iconsbio a i::before {
    position: relative;
    z-index: 1;
    color:black;
}

.social-iconsbio a i::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
         -o-transition: all 300ms;
            transition: all 300ms;
}

.social-iconsbio a i:hover::after{
    background: #68c3a3;
    border: 1px solid transparent;
    z-index: 0;
}

